/* ---------------------- header ---------------------- */
header {
    position: static;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background: #fff;
    &.home {
        background: transparent;
    }
  
    max-width: 1920px;
    margin: auto;
    position: relative;
    z-index: 99;

    .header-inner {
        height: 120px;
        padding: 0 40px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

   

    .logo-wrapper {
        position: relative;
        display: block;
        text-align: right;
        height: 100%;
        .logo {
            height: 100%;
            font-size: 0;
            text-align: right;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            img {
                max-height: 91%;
                max-width: 100%;
            }
        }
    }
    

    .links {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 0 -15px;
        .item {
            display: flex;
            align-items: center;
            margin: 0 15px;

            @include f-b;
            font-size: 20px;
            color: var(--color-text);

            img {
                margin-left: 5px;
            }

            span {
                transition: 0.5s;
            }

            &:hover {
                span {
                    color: var(--color-main);
                }
            }
        }
    }
    .menu-cont {
        margin: 0 60px;   
        flex-shrink: 0;
        flex-grow: 1;
   
        ul.main-menu {
            display: flex;
            justify-content: flex-start;
            height: 100%;
            .menu-item-has-children, .has-extra-menu { 
                padding-left: 25px;
                background: url("../images/icons/rd.svg") no-repeat left 10px center;
            }
            .menu-item-has-children {
                position: relative;
            }
            > li {
                position: relative;
                padding: 0 2%;
                height: 100%;

                > a {
                    position: relative;
                    transition: 0.5s;
                    @include f-sb;
                    font-size: 22px;
                    color: var(--color-text);    
                    padding: 5px 0px;
                    white-space: nowrap;
                    display: inline-block;
                    height: 100%;
                    line-height: 43px;
                    &:hover {
                        color: var(--color-main);
                    }
                }
                &.current_page_item, &.current-menu-item {
                    > a {
                        @include f-b;
                        &:after {
                            content: "";
                            display: block;
                            position: absolute;
                            bottom: 2px;
                            left: 0px;
                            right: 0px;
                            height: 3px;
                            border-radius: 200px;
                            background: var(--color-main);
                        }
                    }
                }
                .sub-menu {
                    padding: 20px;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                    top: 100%;
                    background-color: #fff;
                    border-top: 3px solid var(--color-main);
                    visibility: hidden;
                    opacity: 0;
                    transition: 0.15s;
                    box-shadow: 0px 2px 15px 0px rgba(50, 50, 50, 0.2);
                    z-index: 99;
                    li {
                        margin: 0;
                        &.menu-item-has-children {
                            background: url("../images/icons/rr.svg") no-repeat left center;
                        }
                        a {
                            @include f-r;
                            font-size: 19px;
                            color: var(--color-text);
                            padding: 8px;
                            white-space: nowrap;
                            display: inline-block;
                            transition: 0.5s;
                            &:hover {
                                color: var(--color-main);
                            }
                        }
                        .sub-menu {
                            left: auto;
                            right: 100%;
                            top: 0;
                            transform: translateX(-20px);
                        }
                        &:hover {
                            >.sub-menu {
                                visibility: visible;
                                opacity: 1;
                            }
                            >.extra-menu {
                                top: 100%;
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }
                }

                &:hover {
                    >.sub-menu {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }

    .ham-button {
        display: none;
    }

    
    @media only screen and (max-width : $lw) {
        .header-inner {
            height: 75px;
        }
        
    }

    @media only screen and (max-width : $tw) {
        .header-inner {
            height: 65px;
            padding: 0 10px;
        }
        .menu-cont {
            ul.main-menu {
                > li {
                    > a {
                        font-size: 17px;
                    }
                }
            }
        }
    }

    

    @media only screen and (max-width : $lw) {
        .header-inner {
            height: 90px;
            padding: 0 20px;
        }

        .menu-cont {
            margin: 0 40px;   

            ul.main-menu {
                > li {
                    > a {
                        font-size: 20px;
                    }
                }
            }
        }

        .links {
            .item {
                font-size: 18px;
            }
        }
    }

    @media only screen and (max-width : $tw) {
        .header-inner {
            height: 70px;
            padding: 0 10px;
        }

        .menu-cont {
            margin: 0 25px;   

            ul.main-menu {
                > li {
                    > a {
                        font-size: 18px;
                    }
                }
            }
        }

        .links {
            .item {
                font-size: 17px;
            }
        }
    }


    @media only screen and (max-width : $mw) { 
        box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.2);
        z-index: 9999;
        top: 0;
        left: 0;
        right: 0;
        position: fixed;
        background: #fff;
        &.home {
            background: #fff;
        }
        .menu-cont {
            display: none;
        }

        .header-inner {
            height: 40px;
        }
        

        .ham-button {
            display: block;
            margin-right: 20px;
        }

        .links {
            .item {
                margin: 0 7px;
                span {
                    display: none;
                }
            }
        }

    }
}
/* --------------------- /header ---------------------- */

/* ---------------------- Section slider-top ---------------------- */
section.slider-top {
    position: relative;
    height: 855px;
    display: flex;
    align-items: center;
    margin-top: -120px;
    padding: 0;
    .bg {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;

    }

    .slider-top-main {
        height: 100%;
        .swiper-slide {
            @include flex-center;
            img {
                height: 100%;
            }
        }
    }
    .section-inner {
        z-index: 99;
        text-align: right;
        .text {
            @include f-r;
            font-size: 64px;
            color: var(--color-text);
            max-width: 610px;
            line-height: 1.2;
            position: relative;
            &:before {
                content: "";
                position: absolute;
                top: -35px;
                bottom: -35px;
                left: -35px;
                right: -250px;
                background: rgba(255, 255, 255, 0.62);
                z-index: -1;
            }
        }

   
    }

 
    @media only screen and (max-width : $lw) {
        height: 700px;
        margin-top: -90px;
    }

    @media only screen and (max-width : $tw) {
        height: 600px;
        margin-top: -70px;
        .section-inner {
            .text {
                font-size: 55px;
                &:before {
                    content: "";
                    position: absolute;
                    top: -25px;
                    bottom: -25px;
                    left: -25px;
                    right: -250px;
                    background: rgba(255, 255, 255, 0.62);
                    z-index: -1;
                }
            }
        }
    }
    @media only screen and (max-width : $mw) {
        height: 480px;
        margin-top: 0;
        .section-inner {
            .text {
                font-size: 38px;
                max-width: 80%;
                &:before {
                    content: "";
                    position: absolute;
                    top: -25px;
                    bottom: -25px;
                    left: -25px;
                    right: -250px;
                    background: rgba(255, 255, 255, 0.62);
                    z-index: -1;
                }
            }
        }
    }

}
/* --------------------- /Section slider-top ---------------------- */


/* ---------------------- Section about-index ---------------------- */
section.about-index {
    .parts {
        display: flex;
        margin: 0 -100px;
        .part {
            padding: 0 100px;
            &:nth-child(1) {
                width: 45%;
                border-left: 1px solid #A0A0A0;
            }
            &:nth-child(2) {
                width: 55%;
            }
        }
    }

    .content {
        max-width: 670px;
    }

    .swiper-container {
        
        .pagination {
            margin-top: 75px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            .swiper-pagination-bullet {
                cursor: pointer;
                height: 4px;
                width: 40px;
                background: #2C2C2C;
                border-radius: 0;
                transition: 0.5s;
            }
        }
        .nav {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            pointer-events: none;
            .arrow {
                cursor: pointer;
                pointer-events: auto;
            }
        }
    }

}
/* --------------------- /Section about-index ---------------------- */

.box-news {
    .inner {
        position: relative;
    }
    .image {
        text-align: right;
        font-size: 0;
        overflow: hidden;
        img {
            max-width: 100%;
        }
    }
    .text {
        margin-top: 15px;
        .title {
            @include f-sb;
            font-size: 32px;
            color: var(--color-text);
        }
        .desc {
            @include f-r;
            font-size: 18px;
            color: var(--color-text);
        }
    }
}

/* ---------------------- Section counters ---------------------- */
section.counters {
    background-color: #2C2C2C;
    .boxes {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: -15px;
        .box {
            padding: 15px;
            text-align: center;
            .number {
                @include f-sb;
                font-size: 64px;
                color: var(--color-main);
                
                margin: auto;
                text-align: center;
            }  
            .description {
                @include f-r;
                font-size: 18px;
                color: #fff;
            }
        }
    }

    @media only screen and (max-width : $mw) {
        .boxes {
            margin: -15px;
            .box {
                padding: 15px;
                min-width: 50%;
                .number {
                    font-size: 55px;
                }  
                .description {
                    font-size: 22px;
                }
            }
        }
    }
}
/* --------------------- /Section counters ---------------------- */

/* ---------------------- Section services ---------------------- */
section.services {
    background: #F5F5F5;

    .boxes {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -50px;
        margin-top: 40px;
        .box {
            width: 25%;
            padding: 50px;
            border-left: 1px solid #BDBDBD;
            border-bottom: 1px solid #BDBDBD;
            &:nth-child(8n + 4), &:nth-child(8n + 8) {
                border-left: none;
            }

            &:nth-last-child(1), &:nth-last-child(2), &:nth-last-child(3), &:nth-last-child(4) {
                border-bottom: none;
            }
        }
    }
}
/* --------------------- /Section services ---------------------- */

.box-service {
    position: relative;
    .icon {
        text-align: center;
        font-size: 0;
        height: 85px;
        img {
            max-height: 100%;
            max-width: 100%;
            margin: auto;
        }
    }

    .title {
        text-align: center;
        @include f-sb;
        font-size: 30px;
        color: #686868;
        margin-top: 15px;
    }

    .hover {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(40.39deg, #008AC4 -5.26%, #4AC4F7 100%);
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        text-align: center;
        padding: 50px;

        transition: 0.5s;

        opacity: 0;
        visibility: hidden;

        .title {
            color: #fff;
        }
        .desc {
            @include f-r;
            font-size: 18px;
            color: #fff;
            margin-top: 15px;
        }
    }

    &:hover {
        .hover {
            opacity: 1;
            visibility: visible;
        }
    }
}


/* ---------------------- Section process ---------------------- */
section.process {
    padding-bottom: 200px;
    .decor {
        position: absolute;
        font-size: 0;
        display: inline-block;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-35%);
        z-index: -1;
    }
    .items {
        margin-top: 75px;
        .item {
            margin: -20px 0;
            display: flex;
            &:nth-child(odd) {
                flex-direction: row-reverse;
                .inner {
                    .caption {
                        border-radius: 0 116px;
                    }
                    .circle {
                        left: auto;
                        right: -25px;
                    }
                }
            }
            .inner {
                width: 41%;
                position: relative;
                .caption {
                    background: #F1F1F1;
                    box-shadow: 80.6405px 59.1364px 80px rgba(47, 59, 63, 0.07), 52.267px 38.3291px 46.8519px rgba(47, 59, 63, 0.0531481), 31.0615px 22.7785px 25.4815px rgba(47, 59, 63, 0.0425185), 16.1281px 11.8273px 13px rgba(47, 59, 63, 0.035), 6.57071px 4.81852px 6.51852px rgba(47, 59, 63, 0.0274815), 1.49334px 1.09512px 3.14815px rgba(47, 59, 63, 0.0168519);
                    border-radius: 116px 0px;
                    padding: 35px 80px;
                    transition: 0.5s;
                    position: relative;
                    overflow: hidden;
                    &:after {
                        content: "";
                        position: absolute;
                        display: block;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        background: linear-gradient(40.39deg, #008AC4 -5.26%, #4AC4F7 100%);
                        transition: 0.5s;
                        opacity: 0;
                    }
                    .title {
                        @include f-sb;
                        font-size: 32px;
                        color: var(--color-text);
                        position: relative;
                        z-index: 1;
                        transition: 0.5s;
                    }
                    .content {
                        padding-right: 30px;
                        position: relative;
                        z-index: 1;
                        transition: 0.5s;
                    }
                }

                .circle {
                    border-radius: 100%;
                    width: 16px;
                    height: 16px;
                    background: linear-gradient(40.39deg, #008AC4 -5.26%, #4AC4F7 100%);
                    position: absolute;
                    bottom: -25px;
                    left: -25px;
                    filter: grayscale(1);
                    transition: 0.5s;
                }

                &:hover {
                    .caption {
                        .title {
                            color: #fff;
                        }
                        .content {
                            color: #fff;
                        }
                        &:after {
                            opacity: 1;
                        }
                    }
                    .circle {
                        filter: grayscale(0);
                    }
                }
            }
        }
    }
}
/* --------------------- /Section process ---------------------- */

/* ---------------------- Section clients ---------------------- */
section.clients {
    background: #2C2C2C;
    padding: 65px 0;
    .title {
        @include f-sb;
        font-size: 48px;
        color: #fff;
    }

    .items {
        display: flex;
        align-items: center;
        margin: 0 -35px;
        .item {
            margin: 0 35px;
            &:first-child {
                flex-shrink: 0;
            }
            img {
                max-width: 100%;
                max-height: 75px;
                filter: grayscale(1);
            }
        }
    }
}
/* --------------------- /Section clients ---------------------- */

/* ---------------------- Section projects ---------------------- */
section.projects {
    padding-top: 150px;
    .grid {
        display: flex;
        .sidebar {
            flex-shrink: 0;
            width: 320px;
            padding-left: 75px;
        }
        .main {
            flex-grow: 1;
        }
    }

    .boxes {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin: -16px -11px;
        .box {
            width: 50%;
            padding: 16px 11px;
        }
    }
}
/* --------------------- /Section projects ---------------------- */
.box-project {
    cursor: pointer;
    .inner {
        position: relative;
    }
    .image {
        @include flex-center;
        font-size: 0;
        height: 375px;
        overflow: hidden;
        img {
            height: 100%;
        }
    }
    .caption {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 25px 35px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
        .title {
            @include f-sb;
            font-size: 32px;
            color: #fff;
            position: relative;
            z-index: 1;
        }

        .location {
            @include f-sb;
            font-size: 20px;
            color: #fff;
            position: relative;
            z-index: 1;
        }

        .plus {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%) scale(0.5);
            z-index: 1;
            transition: 0.5s;
            opacity: 0;
        }

        &:after {
            content: "";
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35));
            transition: 0.5s;
            opacity: 0;
        }
    }

    &:hover {
        .caption {
            &:after {
                opacity: 1;
            }
            .plus {
                opacity: 1;
                transform: translateX(-50%) translateY(-50%) scale(1);
            }
        }
    }
}

/* ---------------------- Section testimonials ---------------------- */
section.testimonials {
    background: #F5F5F5;

    .slider-testimonials {
        margin-top: 90px;

        .pagination {
            margin-top: 75px;
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            .swiper-pagination-bullet {
                cursor: pointer;
                height: 4px;
                width: 40px;
                background: #2C2C2C;
                border-radius: 0;
                transition: 0.5s;
            }
        }
    }
}
/* --------------------- /Section testimonials ---------------------- */

.box-testimonial {
    text-align: center;
    max-width: 620px;
    margin: auto;
    .inner {
        position: relative;
    }

    .content {
        margin-top: 35px;
    }

    .name {
        @include f-sb;
        font-size: 20px;
        color: #909090;
        margin-top: 45px;
    }
    
}


/* ---------------------- footer ---------------------- */
footer {
    position: relative;
	overflow: visible;
    z-index: 99;
    max-width: 1920px;
	margin: auto;


	.part-top {
		padding-top: 70px;
		padding-bottom: 50px;
		text-align: center;
        background: url("../images/index/bg-footer.png") no-repeat;
        background-size: cover;
		.cols {
	        display: flex;
	        justify-content: space-between;
	        color: white;
	        font-size: 17px;
	        text-align: right;
			width: 100%;
			margin: auto;

			.col {
				padding: 0 10px;
				color: #fff;
				
				.title {
					@include f-b;
					font-size: 20px;
					color: var(--color-main);
                    display: inline-block;

                    margin-top: 25px;
                    &:first-child {
                        margin-top: 0;
                    }
				}

				.content {
					@include f-r;
					font-size: 18px;
                    letter-spacing: 0.04em;
					margin-top: 10px;
					color: #fff;
                    &:first-child {
                        margin-top: 0;
                    }
					a {
						color: inherit;
						transition: 0.5s;
                        text-decoration: none;
						&:hover {
							color: var(--color-main);
						}
					}
                    ul {
                        list-style: none;
                        padding-right: 0;
                    }
					p,li {
						margin-top: 5px;
					}
      
				}

			}
		}
	}


	.part-bottom {
        background: #fff;
		padding: 15px 50px;
		color: #A9A9A9;
		@include f-r;
		font-size: 18px;


		.section-inner {
			display: flex;
			justify-content: space-between;
			align-items: center;
			max-width: 100%;
		}
	}


    @media only screen and (max-width : $lw) {
       
  
    }

    @media only screen and (max-width : $tw) {

        .part-bottom {
            padding: 15px 15px;
        }
    }

    @media only screen and (max-width : $mw) {


        .part-top {
            padding-top: 30px;
            .cols {
                flex-wrap: wrap;
                .col {
                    flex: 50% 1;
                    margin-top: 25px;
                }
            }
        }

        
    }

    @media only screen and (max-width : 550px) {
        .part-bottom {
            .section-inner {
                flex-wrap: wrap;
                justify-content: center;
                p {
                    margin: 5px;
                }
            }
        }
    }


	
}
/* --------------------- /footer ---------------------- */

.wrapper-contacts {
    margin-top: 20px;
    .item {
        display: flex;
        align-items: center;
        margin-top: 10px;
        .icon {
            text-align: center;
            font-size: 0;
            width: 25px;
            margin-left: 5px;
            img {
                margin: auto;
                max-width: 100%;
            }
        }
    }
}
.wrapper-social {
    margin: auto;
    text-align: left;
    margin-left: 0;
    margin-right: auto;
    display: inline-block;
    margin-top: 35px;
 

    &.desktop {
        display: inline-block;
    }
    &.mobile {
        display: none;
    }
    .social {
        display: flex;
        align-items: center;
        .social-title {
            @include f-sb;
            font-size: 18px;
            line-height: 2;
            color: #fff;
            margin-left: 8px;
        }
        a {
            color: #FFFFFF;
            font-size: 25px;
            margin: 8px;
            transition: 0.5s;
            &:hover {
                color: #F9C900;
            }

            @include flex-center;
        }
    }

    @media only screen and (max-width : $mw) {
        margin-top: 30px;
        width: 100%;
        .social-title {
            display: none;
        }
        &.desktop {
            display: none;
        }
        &.mobile {
            display: block;
        }
        .social {
            justify-content: center;
    
        }
    }
}


/* ----------------- wpcf7-------------------- */
.wpcf7 {
	margin: auto;
	text-align: center;
    position: relative;

	input[type="url"], input[type="email"], input[type="tel"] {
		direction: rtl;
	}
	input, select, textarea {
		@include f-r;
		font-size: 18px;
		border: none;
        border-bottom: 2px solid #fff;
		color: #fff;
		@include placeholder-color(#fff);

		background: transparent;
        border-radius: 0;
		outline: none;
		padding: 10px 0px;
		width: 100%;

		direction: rtl;


		&:focus {
			//@include placeholder-color(#713F99);
			//color: #713F99;
		}
	}

    select {
        padding-left: 25px;
        appearance: none;
        background: #535353 url("../images/icons/rdw.svg") no-repeat;
        background-position: left 20px center;
    }

    textarea {
        border-radius: 24px;
        height: 130px;
        padding: 20px 20px;
    }
    form {
      
    }
	.wpcf7-form-control-wrap {
		display: block;
		position: relative;
        margin-top: 10px;

	}

    .wrapper-submit {
        margin: auto;
        margin-top: 20px;
        width: auto;
        display: inline-block;
        float: left;

        position: relative;
        padding-left: 25px;
        &:after {
            content: "";
            display: block;
            height: 2px;
            
            background: #fff;
            margin-top: 0px;
            transition: 0.5s;
        }
    
        &:before {
            content: "";
            position: absolute;
            left: 0px;
            top: 7px;
            height: 24px;
            width: 24px;
            background: url("../images/icons/arrow-left.svg");
            filter: brightness(0) invert(1);
            transition: 0.5s;
        }
    }
   
	input[type="submit"] {
		border: none;
        cursor: pointer;
        @include f-sb;
        font-size: 20px;
        letter-spacing: 0.12em;
        color: #fff;
        padding: 5px 0px;
        
        appearance: none;
        transition: 0.5s;

        &:hover {
            background-color: var(--color-main);
            color: #fff;
        }
       
	}
	


	span[role="alert"] {
		@include f-r;
		font-size: 14px;
		color: #DF0707;
		position: absolute;
		left: 0;
		bottom: -20px;
	}
	.wpcf7-response-output {
		@include f-r;
		font-size: 14px;
		color: #DF0707;
		position: absolute;
		
    	bottom: -45px;
        right: 0;
    	border: none !important;
   	 	padding: 0 !important;
    	margin: 0 !important;
	}

    .wpcf7-not-valid-tip {
        font-size: 13px;
        position: absolute;
        bottom: 0;
        right: 25px;
    }
	.wpcf7-spinner {
        position: absolute;
	}


}
/* ----------------- /wpcf7-------------------- */